@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;900&display=swap');

* {
    margin: 0;
    padding: 0;
}

#fundoSite {
    display: grid;
    grid-template-columns: 2fr 1fr;
    height: 98vh;
}

.divFundo {
    width: 100%;
    height: 100%;
    display: grid;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
}

.fundo1 {
    display: flex;
    flex-direction: column;
    margin-left: 10vw;
}

.fundo2 {
    background-color: #990D35;
}

.imgFundo {
    width: 43vw;
}

.areaImgFundo {
    margin-left: -28vw;
    margin-top: 10vh;
}

#areaLogSen {
    display: grid;
    grid: "1" "1" "1";
}

.tituloLogin {
    font-weight: 900;
    font-size: 2vw;
    color: #990D35;
    text-align: left;
}

.tituloLog {
    font-size: 1vw;
}

.inputEntrada {
    background-color: transparent;
    border: 0.2vw solid #990D35;
    border-radius: 5px;
    width: 20vw;
    height: 4vh;
    padding-left: 0.5vw;
    font-family: 'Poppins', sans-serif;
    font-size: 0.7vw;
}


.EsqueceSenha{
    color: #990D35;
    font-size: 0.75vw;
    padding: 1vw 0;
    text-decoration: none;
}

.areaBtnLog {
    margin-left: 2.7vw;
    margin-top: 4vh;
}

#btnLogar {
    width: 15vw;
    height: 4vh;
    border-radius: 0.3vw;
    border: none;
    background-color: #990D35;
    color: #fff;
    font-size: 0.9vw;
    font-weight: 900;
    cursor: pointer;
}

.areaLinksCadastra {
    margin-top: 4vh;
}

.linkCadastra {
    text-decoration: none;
    font-size: 0.75vw;
    color: #990D35;
    text-align: center;
    margin-left: 4vw;

}

.lC2 {
    margin-left: 6vw;
}

.areaImgFundo2 {
    margin-left: -28vw;
    margin-top: 15vh;
}

.imgFundo2 {
    width: 35vw;
}

.botaoLogar {
    background-color: #990D35;
    padding: 0.5vw 4vw;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    font-size: 1vw;
    border: none;
    border-radius: 10px;
    margin-left: 1vw;
}

.botaoCadastro {
    background-color: #990D35;
    padding: 0.5vw 4vw;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    font-size: 1vw;
    border: none;
    border-radius: 10px;
    margin-left: 1vw;
}

.linkMandarLogin {
    display: grid;
    align-items: center;
    justify-items: center;
    text-decoration: none;
    margin-top: 1vw;
    margin-left: 5.5vw;
    width: 10vw;
    color: #990D35;
    font-family: 'Poppins', sans-serif;
}

/************************************
*************************************
*********** TELA RESERVA ***********/

#botao-cor {
    width: 3.2vw;
}

#botao-cor1 {
    display: none;
    width: 3.2vw;
}

#topoSite {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: top;
    margin-top: 0.5vw;
}

#Pesquisa {
    width: 80%;
    background-color: #990D35;
    border: none;
    padding: 0.7vw 0 0.7vw 1vw;
    border-radius: 12px;
}

#Pesquisa:focus, select:focus {
    color: #b3b3b3;
    border: none;
}

#Pesquisa::placeholder {
    color: #b3b3b3;
    font-family: 'Poppins', sans-serif;
}

#tituloSite {
    margin-left: 2vw;
    display: grid;
    align-items: top;
}

#iconTrin {
    width: 12vw;
}

#areaIcons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: top;
}

#iconLogin {
    width: 2vw;
}

#iconCar {
    width: 2.5vw;
}

#areaConteudo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100%;
    align-items: center;
    padding-top: 7vw;
}

#imgReserva {
    width: 52vw;
    animation-name: pulaImg;
    position: relative;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

#areaImgLoc {
    display: grid;
    justify-content: center;
}

#imgLandingL {
    width: 39vw;
    animation-name: pulaImg;
    position: relative;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes pulaImg {
   100% {transform: scale(1.02);}
}

.areaContLoc {
    margin-left: -5vw;
}

#areaConteudoLand {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100%;
    align-items: center;
    margin-top: 8vw;
}

#tituloConteudo {
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    font-size: 4vw;
    color: #990D35;
}

#imgReserva {
    margin-left: 2vw;
}

#areaReservaCont {
    display: grid;
    justify-content: center;
}

#textoConteudo {
    font-family: 'Poppins', sans-serif;
    font-size: 1vw;
}

#btnReserva, #btnLanding {
    font-family: 'Poppins', sans-serif;
    color: #990D35;
    font-size: 1vw;
    background-color: transparent;
    border: #990D35 solid 1px;
    padding: 0.5vw 0vw;
    text-align: center;
    text-decoration: none;
    margin-top: 0.5vw;
}

#btnLanding {
    margin-top: 4vw;
}

#area-botao-cor {
    cursor: pointer;
}

/************************************
*************************************
******** TELA CADASTRO BIKE ********/

#picture__input {
    display: none;
    
  }
  
  .picture {
    width: 19vw;
    aspect-ratio: 16/9;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    color: #990D35;
    border: 2px dashed #990D35;
    cursor: pointer;
    font-family: sans-serif;
    transition: color 300ms ease-in-out, background 300ms ease-in-out;
    outline: none;
    overflow: hidden;
  }
  
  .picture:hover {
    color: #000000;
    background: #f0ecec 50%;
  }
  
  .picture:active {
    border-color: turquoise;
    color: turquoise;
    background: #eee;
  }
  
  .picture:focus {
    color: #000000;
    background: #f0ecec 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
  
  .picture__img {
    max-width: 100%;
  }

#areaPreencherCadBike {
    display: grid;
    justify-content: center;
}

#areaPreencherCadBike input {
    margin-bottom: 0.7vw;
    border: 2px solid #990D35;
}

#formCadastroBike {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 10vw;
}

#areaImagemProduto {
    display: grid;
    justify-content: center;
    align-items: center;
}

#areaConteudoCadBike {
    margin: 0 6vw;
}

#btnCadBike {
    background-color: transparent;
    border: 1px solid #990D35;
    color: #990D35;
    font-family: 'Poppins', sans-serif;
    font-size: 0.9vw;
    padding: 0.1vw 1vw;
    cursor: pointer;
}

#areaBtnCadBike {
    display: grid;
    justify-content: right;
    margin-top: 2vw;
}

#rodape {
    display: grid;
    grid-template-columns: 1fr 3fr;
    margin-top: 13vw;
    padding: 0 3vw;
}

#areaLinksPag {
    display: grid;
    column-gap: 0.8vw;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: end;
    justify-items: center;
}

.linkPaginaSite {
    display: grid;
    align-items: end;
    text-decoration: none;
    color: #000000;
    font-family: 'Poppins', sans-serif;
    font-size: 0.9vw;
}

#iconTrinRodape {
    width: 10vw;
}

#areaLogoSite {
    text-align: right;
}

#fundoCadBike {
    height: 100%;
}

/************************************
*************************************
******** TELA OPÇÃO LOGIN **********/

#fundoIndex {
    display: grid;
    grid-template-rows: 1fr 2fr 0.3fr;
}

#areaOpcaoLogar {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.imgOpcao {
    width: 17vw;
    animation-name: pulaLogin;
    position: relative;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes pulaLogin {
   100% {transform: scale(1.06);}
}

.areaImgOpcao {
    display: grid;
    align-items: center;
    justify-content: center;
}

#tituloOpcao {
    font-family: 'Poppins', sans-serif;
    margin-left: 8vw;
    font-size: 1.1vw;
    margin-top: -2vw;
}

#ConteudoIndex {
    display: grid;
    align-items: center;
}

#topoSiteIndex {
    display: grid;
    grid-template-columns: 11fr 1fr;
    align-items: top;
    margin-top: 0.5vw;
}

#rodapeIndex {
    display: grid;
    grid-template-columns: 1fr 3fr;
    padding: 0 3vw;
    margin-top: 9.5vw;
    align-items: end;
}

.linkDirecLogin {
    display: grid;
    justify-content: center;
    text-decoration: none;
    font-size: 0.99vw;
    font-family: 'Poppins', sans-serif;
    color: #000000;
    margin-top: 1vw;
}

/************************************
*************************************
*********** RECU SENHA TELA ********/

.formRecuSenha {
    margin-top: 10vw;
    display: grid;
    justify-items: center;
}

.TlSenha {
    margin-bottom: 2vw;
}

.botaorecuSenha {
    background-color: #990D35;
    padding: 0.5vw 4vw;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    font-size: 1vw;
    border: none;
    border-radius: 10px;
    margin-top: 2vw;
    cursor: pointer;
}


/*************************************
**************************************
***** TELA DE PERFIL DO USÚARIO *****/

.formPerfilUser {
    margin-top: 5.5vw;
    display: grid;
    justify-items: center;
}

#rodapePerfil {
    display: grid;
    grid-template-columns: 1fr 3fr;
    margin-top: 5.4vw;
    padding: 0 3vw;
}

.botaoAtualizar {
    background-color: #FF0049;
    padding: 0.5vw 4vw;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    font-size: 1vw;
    border: none;
    border-radius: 10px;
    margin-top: 2vw;
    cursor: pointer;
}

.botaoExcluir {
    background-color: #000000;
    padding: 0.5vw 4vw;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    font-size: 1vw;
    border: none;
    border-radius: 10px;
    margin-top: 2vw;
    cursor: pointer;
}


/************************************
*************************************
*********** @media 1024px **********/

@media (max-width: 1024px) {

    .picture {
        width: 30vw;
    }

    #areaPreencherCadBike input {
        width: 30vw;
        font-size: 1vw;
    }

    #btnCadBike {
        font-size: 1.5vw;
        padding: 0.3vw 2.5vw;
    }

    .linkPaginaSite {
        font-size: 1.5vw;
    }

    .divFundo {
        font-size: 2vw;
    }

    .divFundo h2 {
        font-size: 2.6vw;
    }

    .divFundo label {
        font-size: 1.6vw;
    }

    .divFundo input {
        width: 25vw;
        font-size: 1vw;
    }

    .EsqueceSenha {
        font-size: 1.2vw;
    }

    .linkCadastra {
        font-size: 1.2vw;
    }

    .areaBtnLog input {
        font-size: 1.4vw;
        padding: 0.3vw 0.1vw;
        margin-left: -2.2vw;
    }

    .olho {
        margin-left: 4vw;
        margin-top: -0.5vw;
    }

    #imgReserva {
        width: 53vw;
    }

    #tituloConteudo {
        font-size: 5vw;
    }

    #textoConteudo {
        font-size: 1.3vw;
    }

    #btnReserva{
        font-size: 1.4vw;
        padding: 0.2vw 0;
        margin-top: 2vw;
    }

}