<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="estilo.css">
    <link rel="icon" href="imagens/favicon.png">
    <title>Cadastro Bicicleta - TRINTRIN</title>
</head>
<body id="fundoIndex">
    <nav id="topoSiteIndex">
        <div id="tituloSite"><img src="imagens/iconTrin.png" alt="" id="iconTrin"></div>
        <div id="areaIcons">
            <div id="area-botao-cor">
                <img src="imagens/modoCor.png" alt="" id="botao-cor" onclick="trocaCor()">
                <img src="imagens/modoEscuro.png" alt="" id="botao-cor1" onclick="voltarCor()">
            </div>
        </div>
    </nav>

    <header id="ConteudoIndex">
        <p id="tituloOpcao">Como deseja logar</p>
        <div id="areaOpcaoLogar">
            <div class="areaImgOpcao">
                <a href="Login.php" class="linkDirecLogin">
                    <img src="imagens/iconCliente.png" alt="" class="imgOpcao">
                    <p class="linkDirecLogin">Cliente</p>
                </a>
            </div>
            <div class="areaImgOpcao">
                <a href="LoginL.php" class="linkDirecLogin">
                    <img src="imagens/iconLocador.png" alt="" class="imgOpcao">
                    <p class="linkDirecLogin">Locador</p>
                </a>
            </div>
        </div>
    </header>

    <footer id="rodapeIndex">
        <div id="areaLinksPag">
            
        </div>

        <div id="areaLogoSite"><img src="imagens/iconTrin.png" alt="" id="iconTrinRodape"></div>
    </footer>
</body>
<script src="JS/scriptOpcaoLogin.js"></script>
</html>